
        <%= render partial: "layouts/errors", locals: {object: @comment} %>
<div class ="row">
    <div id="comment-container">
        <h4>Edit Comment for <%= @comment.poem.title%></h4>

            <%= form_for(@comment) do |f|%>

              <div class="form-group">

                <%= f.label :content %>
                <%= f.hidden_field :poem_id %>
                <%= f.text_field :content %>
              </div>

              <%= f.submit "Edit Comment", class: "btn btn-warning" %>

            <% end %>
    </div>
</div>
<h4>Go back to poem:<%= link_to @comment.poem.title, poem_path(@comment.poem_id) %></h4>