
<%= render partial: "layouts/errors", locals: {object: @comment} %>
<br> <br>
<% if @comment.poem %>
<h4>Add a Comment for <%= @comment.poem.title%></h4>
<% end %>


<%= form_for([@poem,@comment]) do |f|%>
      
   <%= f.label :content %>
   <%= f.hidden_field :poem_id %>
   <%= f.text_field :content %>

   <%= f.submit "Create Comment", class: "btn btn-primary"%>

<% end %>

<p><%= link_to "Go Back to the Poem", poem_path(@poem) %><p>

<p><%= link_to "Go back to Poems page", poems_path %>